<link rel="stylesheet" type="text/css" href="/assets/trix.css">
<script type="text/javascript" src="/assets/trix.js"></script>
<link href="/assets/bootstrap.min.css" media="all" rel="stylesheet" />
<script src="/assets/bootstrap.min.js"></script>

<% provide(:title, 'Text Editor') %>
<div class="col-md-12">
	<%= render 'form', editor: @editor %>
</div>

