<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Be present for longer!</h2>
                <hr class="light">
                <p class="text-faded">At BeHere our goal is to help you be more present. Whether that's providing tools to help you focus while you work or content to teach you how to live in the now, we want to make living in the moment as easy as possible</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>

