<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to <span class="be-here">BeHere</span>, Tools For the Now</h1>
            <hr>
            <p><span class="be-here">BeHere</span> provides various tools that allow you to focus on the task at hand, helping to block out the many distractions we all face.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Sign up it's free</a>
        </div>
    </div>
</header>

