.page-header {
	color: #f05f40;
}

.btn-primary {
	background-color: #f05f40;
	border: none;
}

.btn-primary:hover {
	background-color: #777;
	border: none;
}

.btn-warning {
	background-color: #777;
	border: none;
	float: right;
}

.btn-warning:hover {
	background-color: #f05f40;
}


